{% extends 'base.html.twig' %}

{% block title %}Campaign index{% endblock %}

{% block body %}
    <h1>Toutes les campagnes</h1>

    <table class="highlight responsive-table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Content</th>
                <th>Goal</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for campaign in campaigns %}
            <tr>
                <td>{{ campaign.title }}</td>
                <td>{{ campaign.content }}</td>
                <td>{{ campaign.goal }}</td>
                <td>{{ campaign.name }}</td>
                <td>
                    <a href="{{ path('app_campaign_show', {'id': campaign.id}) }}" class="btn waves-effect waves-light">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
